<div class="heading">
  <h1>TATA AIA </h1>
  <p>LIFE INSURANCE</p>
</div>

<div class="container">
  <div class="main_section">
    <div class="product_lead_sis">
      <div class="product_name">
        <h3>Tata AIA Life Insurance Fortune Guarantee Plus</h3>
      </div>
      <div class="product_uin">
       <p>UIN: 110N158V09</p>
      </div>
      <div class="line_symbol">
        |
      </div>
      <div class="product_lead_id">
        <p>LEAD ID: 6105121135166</p>
       </div>
       <div class="line_symbol">
        |
      </div>
      <div class="product_sis_id">
        <p>SIS ID: 3065626158924</p>
       </div>
    </div>

    <div class="policy_calculation_summary">
      <div class="policy_all_text">
    <div class="policy_plan_text">
      <h4>Here’s The Policy Plan You Picked!</h4>
    </div>
    <div class="back_steps">
    <div class="back_contents">
      <span>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/images/revamp/svg/back.svg?v=1677931786189"/>
        <a (click)="onBack()">Back</a>
      </span>
    </div>
    <div class="few_more_steps">
      <p>You’re doing good! Just a few more steps to go.</p>
    </div>
  </div>
</div>
    

   <div class="plan_premimum_quote">
    <div class="plan_investment_rider">
      <div class="plan_name">
        <p>PLAN</p>
        <h5>Tata AIA Life Insurance Fortune Guarantee Plus</h5>
      </div>
      <div class="invest_policy_term">
        <div class="grid-item">
          <p>INVESTMENT</p>
          <h3><fa-icon [icon]="faIndianRupee"></fa-icon>24 Thousand</h3>
        </div>
        <div class="grid-item">
          <p>PAY TERM/POLICY TERM</p>
          <h3>5 Years/5 Years</h3>
        </div>
        <div class="grid-item">
          <p>LIFE COVER</p>
          <h3><fa-icon [icon]="faIndianRupee"></fa-icon>2 LACS 76 Thousand</h3>
        </div>
        <div class="grid-item">
          <p>INCOME TERM</p>
          <h3>20 Years</h3>
        </div>
      </div>
      <div class="receive_term">
        <div class="receive_details">
          <p class="receive_text">Receive</p>
          <h6 class="receive_amount"><fa-icon [icon]="faIndianRupee"></fa-icon>2,77,640</h6>
          <p class="receive_guaranteed">As guaranteed monthly income of <fa-icon [icon]="faIndianRupee"></fa-icon> 7,882 at the end of every month for
            20 years after policy term(i.e 5 years)
          </p>
         <p class="receive_total">* Total amount is sum of all monthly income</p>
        </div>
        <div class="vitality_wellness">
          <p>TATA AIA Vitality Wellness Program Discount</p>
          </div>
      </div>
      <div class="program_main_text">
        <div class="congo_details">
       <div class="congo_image">
        <p><img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/images/revamp/svg/Congratulations.svg?v=1677931786189"/></p>
       </div>
       <div class="congo_text">
        <p>Congratulations on receiving Tata AIA Vitality Wellness Program discount of <fa-icon [icon]="faIndianRupee"></fa-icon>246</p>
       </div>
      </div>
      </div>
      <div class="rider_all_name">
        <div class="only_rider_name">
          <h3>RIDER</h3>
        </div>
        <div class="selected_all_rider">
       <ul class="remove_list">
        <li>Term Booster(TB1)</li>
        <li>Criticare Plus(CCP)</li>
        <li>Accidental Death(AD)</li>
        <li>Accidental Total & Permanent Disability(ATPD)</li>
        <li>HospiCare</li>
       </ul>
      </div>
      </div>
    </div>
    <div class="premimum_quote_details">
    <div class="premimum_heading">
      <h4>PREMIUM QUOTE</h4>
     <span><sup><fa-icon [icon]="faIndianRupee"></fa-icon></sup>27497<sup>/Annual</sup></span>
     <p>The above quotes includes:</p>
    </div>
     
    <div class="premimum_calculation">
      <ul class="premimum_list">
        <li>Base Premium.......................................<fa-icon [icon]="faIndianRupee"></fa-icon>24,000</li>
        <li>GST 4.5%................................................<fa-icon [icon]="faIndianRupee"></fa-icon>1080</li>
        <li>Term Booster (TB)..................................<fa-icon [icon]="faIndianRupee"></fa-icon>440</li>
        <li>Criticare Plus (CCP)...............................<fa-icon [icon]="faIndianRupee"></fa-icon>810</li>
        <li>Accidental Death (AD)..............................<fa-icon [icon]="faIndianRupee"></fa-icon>118</li>
        <li>Accidental Total & Permanent Disability (ATPD).....<fa-icon [icon]="faIndianRupee"></fa-icon>71</li>
        <li>HospiCare..........................................<fa-icon [icon]="faIndianRupee"></fa-icon>875</li>
        <li>GST on Rider premium</li>
      </ul>
    </div>
    <div class="edit_procced">
      <button class="btn btn-primary edit_your_plan" disabled>EDIT YOUR PLAN <br><span>(Modify basis your needs)</span></button>
      <button class="btn btn-primary procced_to_buy">PROCEED TO BUY</button>
    </div>
    </div>
  </div>

  <div class="policy_img">
    <div class="refund_save_hon">
    <div class="thirty_days">
      <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/images/revamp/svg/refund-policy.svg?v=1677931786189"/>
      <p>30 Days</p>
      <p>Refund Policy **</p>
    </div>
    <div class="save_tax">
      <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/images/revamp/svg/save-tax.svg?v=1677931786189"/>
      <p>Save Tax **</p>
    </div>
    <div class="honoured">
      <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/images/revamp/svg/claims.svg?v=1677931786189"/>
      <p>99.06% Claims</p>
      <p>Honoured #</p>
    </div>
  </div>
    </div>

    <div class="quote_text_include">
      <p>Premium Quote Shown above is including Tata AIA Vitality Wellness Program Discount</p>
    </div>
  </div>

  <div class="disclaimer">
    <p>Disclaimer: For complete disclaimers please click here, before concluding the sale.</p>
    <ul class="disclaimer_list">
      <li>Registered with Insurance Regulatory & Development Authority of India (IRDAI) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDAI Regn. No. 110) Issued On: 12th February 2001 Category: Life Insurance</li>
      <li>Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.</li>
      <li>Tata AIA Life Insurance Company Limited (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Limited (AIA). CIN: U66010MH2000PLC128403</li>
      <li>Trade logo displayed above belongs to Tata Sons Ltd and AIA Group Ltd. and is used by Tata AIA Life Insurance Company Ltd under a license.</li>
      <li>For any information including cancellation, claims and complaints, please contact our Insurance Advisor / Intermediary or visit Tata AIA Life’s nearest branch office or call 1-860-266-9966 (local charges apply) or write to us at customercare@tataaia.com. Visit us at: www.tataaia.com or SMS 'Life’ to 58888.</li>
    </ul>
  </div>
  </div>
</div>
