<div class="heading">
  <h1>TATA AIA </h1>
  <p>LIFE INSURANCE</p>
</div>

<div class="container">
  <div class="main_section">
    <div class="product_lead_sis">
      <div class="product_name">
        <h3>Tata AIA Life Insurance Fortune Guarantee Plus</h3>
      </div>
      <div class="product_uin">
       <p>UIN: 110N158V09</p>
      </div>
      <div class="line_symbol">
        |
      </div>
      <div class="product_lead_id">
        <p>LEAD ID: 6105121135166</p>
       </div>
       <div class="line_symbol">
        |
      </div>
      <div class="product_sis_id">
        <p>SIS ID: 3065626158924</p>
       </div>
    </div>
  </div>

  <div class="sub_section">
  <div class="vitality_yes_no">
    <div class="vitality_wellness">
    <h2>Tata AIA Vitality Wellness Program</h2>
    <p>Get premium discount on issuance and at every policy renewal <br>
      basis your Vitality status (tracked on Tata AIA Vitality app)</p>
  </div>
  <div class="tabacco_radio">
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
  </div>

  <div class="select_rider_text">
    <h1>Please select riders for Tata AIA Life Insurance Fortune Guarantee Plus</h1>
  </div>

  <div class="rider_selection_option">
    <div class="radio_extra">
    <div class="rider_radio_heading">
      <label class="radio_container">
        <input type="radio" name="radio" value="" checked>
        <span class="checkmark"></span>
          <div class="checkmark_one">
            Death
          </div>
      </label>
      <label class="radio_container">
        <input type="radio" name="radio" value="">
        <span class="checkmark"></span>
          <div class="checkmark_one">
            Hospitalization
          </div>
      </label>
    </div>
    <p class="protect_text">Protect your finances in case of Death, Disability & Disease</p>  
    </div>

    <div class="rider_rop_part">
    <div class="future_protect">
    <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_S…mages/riders/future-protected.svg?v=1677844821444"/>
    <p class="rider_partner_name">Future Protect</p>
    <p class="rider_text_partner">Lumpsum/Income for <br>
      future needs
    </p>
    <p class="with_without_rop">With / Without ROP</p>
    </div>

    <div class="future_protect">
      <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_S…mages/riders/future-protected.svg?v=1677844821444"/>
      <p class="rider_partner_name">Partner Care</p>
      <p class="rider_text_partner">Lifetime income for <br>dependents
      </p>
      <p class="with_without_rop">With / Without ROP</p>
      </div>

      <div class="future_protect">
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_S…mages/riders/future-protected.svg?v=1677844821444"/>
        <p class="rider_partner_name">Goal Protect</p>
        <p class="rider_text_partner">Waiver of premium to <br> 
          protect your goals
        </p>
        </div>
    </div>
  </div>

  <div class="rider_plus_rop">
    <div class="all_riders_name">
      <ul class="each_riders">
        <div class="criti_selected">
        <div class="criticare">
          <li class="criticare_each_li">Criticare Plus (CCP)</li>
          </div>
          <div class="care_selected">
          <label class="radio_container">
            <input type="radio" checked/>
            <span class="checkmark"></span>
            <div class="checkmark_one">
              Selected
            </div>
            </label>
        </div>
      </div>
      <div class="criti_selected">
        <div class="criticare">
          <li class="criticare_each_li">Accidental Total & Permanent Disability (ATPD)</li>
          </div>
          <div class="care_selected">
          <label class="radio_container">
            <input type="radio" checked/>
            <span class="checkmark"></span>
            <div class="checkmark_one">
              Selected
            </div>
            </label>
        </div>
      </div>
      <div class="criti_selected">
        <div class="criticare">
          <li class="criticare_each_li">Term Booster (TB)</li>
          </div>
          <div class="care_selected">
          <label class="radio_container">
            <input type="radio" checked/>
            <span class="checkmark"></span>
            <div class="checkmark_one">
              Selected
            </div>
            </label>
        </div>
      </div>
      <div class="criti_selected">
        <div class="criticare">
          <li class="criticare_each_li">Accidental Death (AD)</li>
          </div>
          <div class="care_selected">
          <label class="radio_container">
            <input type="radio" checked/>
            <span class="checkmark"></span>
            <div class="checkmark_one">
              Selected
            </div>
            </label>
        </div>
      </div>
      </ul>
    </div>
    <div class="rop_tick_yes_no">
      <div class="sign_center">
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-check.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>  
    </div>

    <div class="sign_center">
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-check.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>  
    </div>

    <div class="sign_center">
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-check.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>  
    </div>

    <div class="sign_center">
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-check.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>
      <label>
        <img src="https://sellonlineuat.tataaia.com/wps/PA_TATAAIA_SO/assets/images/riders/icon-cross.svg?v=1677931786189"/>
      </label>  
    </div>
    </div>
  </div>

  <div class="disclaimer">
    <p>Disclaimer: For complete disclaimers please click here, before concluding the sale.</p>
    <ul class="disclaimer_list">
      <li>Registered with Insurance Regulatory & Development Authority of India (IRDAI) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDAI Regn. No. 110) Issued On: 12th February 2001 Category: Life Insurance</li>
      <li>Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.</li>
      <li>Tata AIA Life Insurance Company Limited (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Limited (AIA). CIN: U66010MH2000PLC128403</li>
      <li>Trade logo displayed above belongs to Tata Sons Ltd and AIA Group Ltd. and is used by Tata AIA Life Insurance Company Ltd under a license.</li>
      <li>For any information including cancellation, claims and complaints, please contact our Insurance Advisor / Intermediary or visit Tata AIA Life’s nearest branch office or call 1-860-266-9966 (local charges apply) or write to us at customercare@tataaia.com. Visit us at: www.tataaia.com or SMS 'Life’ to 58888.</li>
    </ul>
  </div>

  <div class="continue_skip">
    <div class="pos_button">
      <button class="btn btn-primary" (click)="onContinue()">Continue to the Next Step</button>
      <button class="btn btn-primary btn_skip">Skip</button>
    </div>
  </div>
</div>

</div>