<div class="heading">
  <h1>TATA AIA </h1>
  <p>LIFE INSURANCE</p>
</div>

<div class="container">
  <div class="main_section">
    <div class="product_lead_sis">
      <div class="product_name">
        <h3>Tata AIA Life Insurance Fortune Guarantee Plus</h3>
      </div>
      <div class="product_uin">
       <p>UIN: 110N158V09</p>
      </div>
      <div class="line_symbol">
        |
      </div>
      <div class="product_lead_id">
        <p>LEAD ID: 6105121135166</p>
       </div>
       <div class="line_symbol">
        |
      </div>
      <div class="product_sis_id">
        <p>SIS ID: 3065626158924</p>
       </div>
    </div>
    <div class="invest_receive_mainsection">
      <div class="invest_section">
       <div class="invest_heading">
        <h3>INVEST</h3>
       </div>
       <div class="amount_heading">
        <h4>Select Annual Investment Amount</h4>
       </div>
       <div class="amount_radio">
          <label class="radio_container">
            <input type="radio" name="radio" value="">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                24000
              </div>
          </label>
          <label class="radio_container">
            <input type="radio" name="radio" value="">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                48000
              </div>
          </label>
          <label class="radio_container">
            <input type="radio" name="radio" value="">
            <span class="checkmark"></span>
              <div class="checkmark_one">
                <fa-icon [icon]="faIndianRupee"></fa-icon>
                72000
              </div>
          </label>
      </div>
      <div class="or_set">
       <h3>OR</h3>
      </div>
      <div class="invest_word_text" >
        <input type="text" id="" value="50000"/>
      </div>
      <p class="amount_in_number">Rupees Fifty Thousand only</p>

      <div class="option_radio">
        <div class="regular_income">
          <input type="radio" name="regular"/>
        </div>
        <div class="option_1" >
          Option 1: Regular 
        </div> 
      </div>

      <div class="option_radio">
        <div class="regular_income">
          <input type="radio" name="regular"/>
        </div>
        <div class="option_1" >
          Option 2: Regular Income with an inbuilt Critical Illness benefit 
        </div> 
      </div>
     


      <div class="pay_every_annual">
        <div class="pay_text">
        <h2>Pay Every</h2>
        </div>
        <div class="pay_mode">
        <select>
          <option>Annual</option>
          <option>Semi-Annual</option>
          <option>Quaterly</option>
          <option>Monthly</option>
          <option>Single-Pay</option>       
        </select>
        </div>
      </div>


      <div class="period_ppt">
        <div class="period_select">
          <label>For a period of</label><br>
          <select>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>       
          </select>
        </div>
        <div class="ppt_select">
          <label>For (PPT)</label><br>
        <select>
          <option>Regular</option>
          <option>Limited-5 years</option>
          <option>Limited-6 years</option>      
          <option>Limited-7 years</option>      
          <option>Limited-8 years</option>      
        </select>
        </div>
      </div>

      <div class="period_ppt">
        <div class="period_select">
          <label>For a income period of</label><br>
          <select>
            <option>20 Years</option>
            <option>25 Years</option>
            <option>30 Years</option>
            <option>35 Years</option>      
          </select>
        </div>
        <div class="ppt_select">
          <label>Income mode</label><br>
        <select>
          <option>Annual</option>
          <option>Monthly</option>  
        </select>
        </div>
      </div>
 
      <div class="rider_package">
        <div class="select_rider_text">
          <h3>Select Rider Package</h3>
        </div>
        <div class="rider_package_radio">
        <div class="option_rider_radio">
          <div class="rider_text_radio">
            <input type="radio" name="rider"/>
          </div>
          <div class="option_rider_one" >
           Base  
          </div> 
        </div>
        <div class="option_rider_radio">
          <div class="rider_text_radio">
            <input type="radio" name="rider"/>
          </div>
          <div class="option_rider_one" >
            Premimum
          </div> 
        </div>
      </div>
      <div class="elite_rider_radio">
        <div class="rider_text_radio">
          <input type="radio" name="rider"/>
        </div>
        <div class="option_rider_one" >
          Elite
        </div> 
      </div>
      </div>
      
      </div>

      <div class="to_section">
        <span>TO</span>
      </div>
      <div class="receive_section">
        <div class="receive_heading">
          <h3>RECEIVE</h3>
         </div>
         <div class="receive_text">
          <h4>Receive Guaranteed benefit</h4>
         </div>

         <div class="option_radio">
          <div class="receive_guaranteed">
            <input type="radio" name=""/>
          </div>
          <div class="option_1_receive_details" >
           <span> 2,77,640 *</span>
           <p> Rupees Two Lacs Seventy Seven Thousand Six Hundred Forty only</p>
           <p> As guaranteed income of  7,882 at the end of every Annual, for 20 years after policy term (i.e 5 years)</p>
          <p>* Sum of all monthly incomes</p>
          </div> 
        </div>

        <div class="premimum_life_cover">
          <div class="premimum_amount">
          <h3>Premium Amount</h3>
          <h4>24,000/Annual</h4>
          </div>
          <div class="life_cover">
            <h3>You get a life cover of</h3>
            <h4>2,76,000</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="back_next">
      <button class="btn btn-primary" (click)="onBack()">Back</button>
      <button class="btn btn-primary" (click)="onNext()">Next</button>
    </div>
    <div class="disclaimer">
      <p>Disclaimer: For complete disclaimers please click here, before concluding the sale.</p>
      <ul class="disclaimer_list">
        <li>Registered with Insurance Regulatory & Development Authority of India (IRDAI) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDAI Regn. No. 110) Issued On: 12th February 2001 Category: Life Insurance</li>
        <li>Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.</li>
        <li>Tata AIA Life Insurance Company Limited (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Limited (AIA). CIN: U66010MH2000PLC128403</li>
        <li>Trade logo displayed above belongs to Tata Sons Ltd and AIA Group Ltd. and is used by Tata AIA Life Insurance Company Ltd under a license.</li>
        <li>For any information including cancellation, claims and complaints, please contact our Insurance Advisor / Intermediary or visit Tata AIA Life’s nearest branch office or call 1-860-266-9966 (local charges apply) or write to us at customercare@tataaia.com. Visit us at: www.tataaia.com or SMS 'Life’ to 58888.</li>
      </ul>
    </div>
  </div>

</div>