<div class="heading_section">
  <h3>TATA AIA</h3>
  <p>LIFE INSURANCE</p>
</div>

<div class="container">
  <div class="main">
    <form [formGroup]="editLeadForm" (ngSubmit)="onSubmit()">
    <div class="lead_heading">
     <h2>New Lead Form</h2>
    </div>

    <div class="type_insurance">
      <label for="insurance">Type of Insurance </label><br>
      <input type="radio"  id="individual" value="individual" formControlName="insurance_type"/>Individual
      <input type="radio"  id="non-individual" value="non-individual" formControlName="insurance_type"/>Non-Individual
    </div>

    <div class="personal_details">
      <h2>Personal Details</h2>
    </div>

    <div class="form_fields"> 
      <div class="user_details">
      <div class="user_inputs">
        <label for="first_name">FirstName</label><br>
        <input type="text"  id="first_name" formControlName="first_name"/>
      </div>
      <div class="user_inputs">
        <label for="middle_name">MiddleName</label><br>
        <input type="text"  id="middle_name" formControlName="middle_name"/>
      </div>
      <div class="user_inputs">
        <label for="last_name">LastName</label><br>
        <input type="text"  id="last_name" formControlName="last_name"/>
      </div>
      </div>

      <div class="user_details">
        <div class="user_inputs">
          <label for="dob">Date of Birth</label><br>
          <input type="date"  id="dob" formControlName="dob"/>
        </div>
        <div class="user_inputs">
          <label for="email">Email</label><br>
          <input type="email"  id="email" formControlName="email"/>
        </div>
        <div class="user_inputs">
          <label for="mobile">Mobile</label><br>
          <input type="text"  id="mobile" formControlName="mobile"/>
        </div>
        </div>

        <div class="user_details">
          <div class="user_inputs">
            <label for="address">Address</label><br>
            <input type="text"  id="address" formControlName="address"/> 
          </div>
          <div class="user_inputs">
            <label for="state">State</label><br>
            <input type="text"  id="state" formControlName="state"/>
          </div>
          <div class="user_inputs">
            <label for="city">City</label><br>
            <input type="text"  id="city" formControlName="city"/>
          </div>
        </div>
        
        </div>

    <div class="save_procced">
      <button class="btn btn-primary">Save & Procced</button>
    </div>
  </form>
  </div>
</div>
<!-- <app-productdashboard [parentData]="editToProduct"></app-productdashboard> -->
