<div class="heading_section">
  <h3>TATA AIA</h3>
  <p>LIFE INSURANCE</p>
</div>

<div class="container">
  <div class="main">
    <div class="lead_heading">
     <h2>New Lead Form</h2>
    </div>

    <div class="type_insurance">
      <label for="insurance">Type of Insurance </label><br>
      <input type="radio"  id="individual" value="individual"/>Individual
      <input type="radio"  id="non-individual" value="non-individual"/>Non-Individual
    </div>

    <div class="personal_details">
      <h2>Personal Details</h2>
    </div>

    <div class="form_fields"> 
      <div class="user_details">
      <div class="user_inputs">
        <label for="firstname">FirstName</label><br>
        <input type="text"  id="firstname" />
      </div>
      <div class="user_inputs">
        <label for="middlename">MiddleName</label><br>
        <input type="text"  id="middlename" />
      </div>
      <div class="user_inputs">
        <label for="lastname">LastName</label><br>
        <input type="text"  id="lastname" />
      </div>
      </div>

      <div class="user_details">
        <div class="user_inputs">
          <label for="dob">Date of Birth</label><br>
          <input type="date"  id="dob" />
        </div>
        <div class="user_inputs">
          <label for="email">Email</label><br>
          <input type="email"  id="email" />
        </div>
        <div class="user_inputs">
          <label for="mobile">Mobile</label><br>
          <input type="text"  id="mobile" />
        </div>
        </div>

        <div class="user_details">
          <div class="user_inputs">
            <label for="address">Address</label><br>
            <input type="text"  id="address" /> 
          </div>
          <div class="user_inputs">
            <label for="state">State</label><br>
            <input type="text"  id="state" />
          </div>
          <div class="user_inputs">
            <label for="city">City</label><br>
            <input type="text"  id="city" />
          </div>
        </div>
        
        </div>

    <div class="save_procced">
      <button class="btn btn-primary">Save & Procced</button>
    </div>
  </div>
</div>
