*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: "HelveticaBold", sans-serif;
}

.main{
  padding: 60px;
  margin-left: 95px;
}


.container{
  width: 1350px;
  background-color: rgb(250,250,250);
  height: 100vh;
}

.lead_heading h2 {
  font-size: 30px;
  color: #8C8C8C;
  font-weight: bold;
}

.type_insurance{
  margin-top: 35px;
  word-spacing: 2px;
}

.type_insurance label{
  font-size: 16px;
  color: #8C8C8C;
}

.type_insurance  input{
  margin:15px 5px
}

.personal_details{
  margin-top: 35px;
}

.personal_details h2{
  color: #1C86F0;
  font-size: 22px;
  font-weight: bold;
}


.form_fields{
  font-weight: normal;
  font-size: 16px;
  color: #8C8C8C;
}

.form_fields .user_details{
  display: flex;
}

.user_details{
  margin: 0 30px 30px 0;
}

.user_inputs{
  margin-right: 30px;
  width: calc(33.33% - 30px);
}

.user_inputs input{
  width: 100%;
  /* margin-right: 30px; */
  
}



.save_procced{
  display: flex;
  justify-content: center;
  margin: 30px;

}

.save_procced .btn{
  padding: 10px;
  width: 170px;
}



/* *{
  box-sizing: border-box; 
}


.container{
  margin-top: 50px;
  background-color: rgb(250,250,250);
  height: 100vh;

}

.lead_creation{
 padding:60px;
 margin-left: 30px;

}

.lead_form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem; 
  color: #8C8C8C;
 
}

.type_insurance{
 margin-bottom: 50px;
}

.personal_details{
  margin-bottom: 40px;
}

.dob_email_mobile{
  margin-top: 30px;
}

.save_procced{
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 40px;
  padding: 10px 40px;
  font-size: 16px;
  
}

.disclaimer{
  font-size: 10px;
  margin-left: 70px;
} */