*{
margin: 0%;
padding: 0%;
font-family: "HelveticaBold", sans-serif;
}

.container{
  background-color: rgb(250, 250,250);
  height: 100vh;
  width: 100%;
}

.main_section{
  padding: 60px;
  margin: 100px;
}

.lead_create{
  display: flex;
}

.lead_heading{
  flex: 1;
}

.lead_heading h2{
  color: #1C86F0;
  font-size: 22px;
}

.lead_search_create{
  display: flex;
  gap: 30px;
}

.lead_search_create input{
  border-radius: 25px;
  padding-left: 20px;
  height: 40px;
  border: 1px solid gray;
  width: 150px;
  position: relative;
}

.lead_search_create fa-icon{
  position: absolute;
  margin-left: 115px;
  margin-top: 10px;
  color: #1C86F0;
}

.lead_search_create .btn{
  width: 150px;
  height: 45px;
}

.card_section{
  display: flex;
  padding: 40px;
  width: 100%;
}

.card{
  width: 33.33%;
  margin-right:30px;
  padding: 20px;
  border: 1px solid rgb(250, 250,250);
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .image_1{
  position: relative; 
}

.header .image_2{
  position: absolute;
  width: 50px;
  height: 65px;
  background: rgb(250, 250,250);  
}

.primary{
 text-align: center;
 margin: 5px 0;
 line-height: 10px;
}

.primary h2{
  color: #8C8C8C;
  font-size: 22px;
}

.primary p{
  color: #8C8C8C;
}

.secondary{
  border-top: 1px solid gray;
  line-height: 10px;
  padding: 9px;

}

.secondary p{
  color: #8C8C8C;
}


.view_edit_button{
  padding: 9px;
  border-top: 1px solid gray;
  

}


.view_edit_button .btn{
 margin-right: 10px;
 padding: 4px 4px;
 padding-right: 10px;
 /* width: 98px; */
}

.section_tabs{
  margin: 20px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  box-shadow: 0px 0px 10px 0px rgb(59 59 59 / 30%);
  transition: all 0.1s ease;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
  background: #1C86F0;
  border: 0px;
  border-bottom: 5px solid #D62049;
  color: #FFFFFF;
  font-size: 17px;
}

/* mat-tab{
  width: 500px;
  background-color: #D62049;
  padding: 9px 0px;
} */

.secondary p fa-icon {
  background: #8C8C8C;
  border-radius: 12px;
  padding: 2px;
  color: #FFFFFF;
}













/******************************************************/

/* *{
  box-sizing: border-box;
}

.container{
max-width: 1200px;
background-color: rgb(250, 250, 250);
height: auto;
}

.lead_dashboard{
  margin-top: 70px;
}

.ul li{
  padding: 10px;
  width: 600px;
}

.lead_row{
  padding: 60px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.lead_head{
  flex: 1;
  color: #1C86F0;
  font-size: 20px;
  font-weight: bold;
}

.search_section{
   width: 250px;
   
}

.search_seaction_input {
  padding-left: 25px;
  width: 220px;
  border-radius: 25px;
  height: 40px;
  border-width: 0.5px;

}

.lead_create{
  width: 250px;
}

.tab-content{
margin-left: 10px;
}

.card{
 padding: 15px 30px;
}

.profile_image{
 height: 45px;
 box-sizing: border-box;
 background: beige;
 border-radius: 50%;
                  
} */
